@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <img src="images/Front-Wheel-Crafters.png" class="img-fluid" alt="..." />    
</div>
